@import "tailwindcss";

/* Hide scrollbar for Webkit (Chrome, Safari) */
/* Hide scrollbar for Webkit (Chrome, Safari) */
.hide-scrollbar::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for Firefox */
.hide-scrollbar {
  scrollbar-width: none;
}

/* Hide scrollbar for Internet Explorer and Edge */
.hide-scrollbar {
  -ms-overflow-style: none;
}



/* .sidebar {
  transition: transform 0.3s ease-in-out;
}

.no-scrollbar::-webkit-scrollbar {
  display: none;
}

.no-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

html, body, #__next {
  width: 100%;a
  height: 100%;
  overflow: hidden;
} */
